---
import Footer from "@/components/footer.astro";
import Navbar from "@/components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import "@fontsource-variable/bricolage-grotesque";
import "../styles/global.css";

export interface Props {
	title: string;
	lang?: string;
	menuItems: Array<{ title: string; path: string; icon: string }>;
	languageLabel: string;
	copyrightText: string;
}

const {
	title,
	lang = "en",
	menuItems,
	languageLabel,
	copyrightText,
} = Astro.props;

const makeTitle = title ? `Hovirix | ${title}` : "Hovirix";
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{makeTitle}</title>
  </head>
  <body>
    <Navbar menuItems={menuItems} languageLabel={languageLabel} />
    <slot />
    <Footer copyrightText={copyrightText} />
  </body>
</html>
